html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
footer,
section,
article,
nav,
canvas,
aside,
figcaption,
figure,
hgroup,
menuitem,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 81.75%;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
:focus {
  outline: 0;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto';
  letter-spacing: .5px;
  background: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ), url('./bg.jpg');
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('./bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #1f222e;
  font-size: 1.4rem;
  height: 100vh;
  width: 100vw;
}

#root {
  width: 75vw;
}

a {
 font-size: 1.4rem;
 font-weight: bold;
 color: #1f222e;
 position: relative;
 padding: .5rem;
 text-decoration: none;
 -webkit-transition: all 0.2s ease;
 transition: all 0.2s ease;
}

.item {
  overflow: auto;
  opacity: 0;
  -webkit-animation: threadskeleton 2s ease-in-out forwards infinite;
          animation: threadskeleton 2s ease-in-out forwards infinite;
}

.item:nth-child(2n+1) {
  -webkit-animation-delay: 225ms;
          animation-delay: 225ms;
}
.item .avatar {
  width: 26px;
  height: 26px;
  background: #e0e0e0;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(rgb(231, 230, 230) 100%, transparent 0), linear-gradient(rgb(231, 230, 230) 100%, transparent 0), linear-gradient(rgb(231, 230, 230) 100%, transparent 0), linear-gradient(rgb(231, 230, 230) 100%, transparent 0);
  background-repeat: repeat-y;
  background-size: 10px 100%, 15px 100%, 35px 100%, 30px 100%, 50px 100%;
  background-position: 0 0, 5px 0;
  -webkit-animation: shine 1s infinite;
          animation: shine 1s infinite;
  border-radius: 6px;
}

.item .line {
  background: #e0e0e0;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(rgb(231, 230, 230) 100%, transparent 0), linear-gradient(rgb(231, 230, 230) 100%, transparent 0), linear-gradient(rgb(231, 230, 230) 100%, transparent 0), linear-gradient(rgb(231, 230, 230) 100%, transparent 0);
  background-repeat: repeat-y;
  background-size: 10px 100%, 15px 100%, 35px 100%, 30px 100%, 50px 100%;
  background-position: 0 0, 5px 0;
  -webkit-animation: shine 1s infinite;
          animation: shine 1s infinite;
  width: 40px;
  height: 8px;
  margin-top: 2px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.item .line ~ .line {
  background: #e0e0e0;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(rgb(231, 230, 230) 100%, transparent 0), linear-gradient(rgb(231, 230, 230) 100%, transparent 0), linear-gradient(rgb(231, 230, 230) 100%, transparent 0), linear-gradient(rgb(231, 230, 230) 100%, transparent 0);
  background-repeat: repeat-y;
  background-size: 10px 100%, 15px 100%, 35px 100%, 30px 100%, 50px 100%;
  background-position: 0 0, 5px 0;
  -webkit-animation: shine 1s infinite;
          animation: shine 1s infinite;
  width: 80px;
}

.EnhancedForm-paper-7 {
  background: url('./i-like-food.svg');
}

.chat__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.focused {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.online {
  background-color: rgba(128, 252, 85, 0.5) !important;
}

.offline {
  opacity: 0.5;
}

.typing-indicator p {
  margin: 0 4px;
  opacity: 0.5;
}
.typing-indicator p:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator p:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator p:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

.typing-indicator {
  background-color: #E6E7ED;
  width: auto;
  border-radius: 33px;
  padding: 12px;
  display: inline-block;
  margin: 1rem;
  margin-top:5px;
  position: relative;
  top: -10px;
  -webkit-animation: 2s bulge infinite ease-out;
          animation: 2s bulge infinite ease-out;
}
.typing-indicator:before, .typing-indicator:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 10px;
  width: 10px;
  border-radius: 40%;
  background-color: #E6E7ED;
}
.typing-indicator:after {
  height: 5px;
  width: 5px;
  left: -5px;
  bottom: -5px;
}

.typing-indicator-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin:0;
  max-height:45px;
  background-color: #A2C4C9;
}

.typing-indicator-box ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x:auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin:0;
}

.typing-indicator-box img {
  padding:4px;
  width:45px;
}

.typing-indicator-box li {
  display: inline-block;
}

.loading {
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sk-spinner {
  -webkit-transform: scale(4);
          transform: scale(4);
}
